{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Dashboard for Event Fraud Detection</h1>
</div>
<p>
Welcome to the fraud event detection dashboard. You will find here information and real-time vizualisation related to the events. You can navigate the tabs to access histograms and statistics describing the fraud probabilities and obtain direct information about the most suspicious events.</br></br></p>



<iframe width="100%" height="520" frameborder="0" src="https://clemriedel.cartodb.com/viz/7c0e73c6-33fc-11e6-9d02-0e674067d321/embed_map?zoom=2&center_lat=9.514293&center_lon=-28.306693" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>



{% endblock %}
