<!DOCTYPE html>
<title>ds4all</title>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>




  <style>
.center {
    margin: 10px;
    width: 80%;
    padding: 10px;
}

.overflow{
    overflow: hidden;
}



</style>




<nav class="navbar navbar-default">


    <ul class="nav navbar-nav">


        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><font size="4" color="grey">ds4all</font><span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/">Home</a></li>
          <li><a href="/">NLQ</a></li>
          <li><a href="/dspipeline">DS pipeline</a></li>
        </ul>

      
      <li><a href="/dspipeline">DS pipeline:</a></li>
      <li><a href="/dspipeline_code">Code (Supervised learning)</a></li>
      <li><a href="/clem_pipelone">Contact & Bio</a></li>

      
      <!-- <li><a href="#">Job & Price</a></li> -->
      </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>

    </ul>
  </div>
</nav>

<div class="overflow">
<img src='kopipi.jpg' alt="logo" height = 150px> <br>




</div>

  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
  </head>


<center>
  <img src='CV_header.png' alt="logo" width = 1000px> <br>
  <a href="Riedel_CV.pdf" target="blank"><button class='btn btn-default'>Resumé (1 page)</button></a> 
  &nbsp&nbsp&nbsp&nbsp&nbsp<a href="Riedel_CV_Full.pdf" target="blank"><button class='btn btn-default'>Curricula Vitae (4 pages)</button></a> 
</center>



<div style="padding-right:150px;">
  <body>
    <div class="container">
      <div class="header">
        <h2 class="text-muted">About ds4all</h2>
      </div>
      <div>
The mission of 'Data Science for all' is to empower people by providing a simple and free access to data science. Data are everywhere and we believe that: "Everyone has the right freely to participate in the cultural life of the community, to enjoy the arts and to share in scientific advancement and its benefits." (Universal Declaration of Human Rights, Article 27). Data science is a huge scientific advancement and I am trying to do my part so that everyone can benefit from it. It starts by just being aware that data are around you and that <b>you can benefit from it:</b> You can draw from this field of information. Below are some examples of studies that I have performed; I found beauty in them. I hope you will too; for instance you can look at the plot on the bottom left corner, it's simple: when it gets cloudy people are renting bikes for shorter amount of time. Please let me know if you would like to know more about one of these stories.<br><br>
<center>
<img src='ds4all_logo.png' alt="logo" height = 550px> <br>
</center>
<br><br>


        <h2 class="text-muted">About Clem</h2>
Hello, my friends call me Clem. Being born in <a href="https://www.youtube.com/watch?v=RyPsnlNiFM4" target="blank">Reunion Island</a>, I am one of the only few that can legitimately use the .io (yes: it stands for Indian Ocean!). I left my home, familly (I brought and kept the culture with me) when I was seventeen to go to France where I have studied physics for five year (Ms High energy astrophysics). I have then wander mostly between France and Spain during my Phd. I arrived in the San Francisco Bay in 2011; I kept doing research (at UC Berkeley) where I published a <a href="Riedel_Nature_Paper.pdf"  target="blank">paper in Nature</a>; and worked for more than two years as a data scientist at the D-Lab. I obtained a green card upon Extraordinary Abilities in science which permits me to stay in the wonderfull SF Bay, my new home. I like sailing, uplifting people and walking on a dymaic 1 inch webbing (slacklining). I love teaching these stuff too...
<br><br>

<center>
<embed src="Riedel_CV.pdf" width="800" height="375">
</center>

<br><br><br>



 