<!DOCTYPE html>
<title>ds4all</title>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

  <style>
.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}

.overflow{
    overflow: hidden;
}
</style>




<nav class="navbar navbar-default">


    <ul class="nav navbar-nav">


        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><font size="4" color="grey">ds4all</font><span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/">Home</a></li>
          <li><a href="/nlq">NLQ</a></li>
          <li><a href="/dspipeline">DS pipeline</a></li>
        </ul>

      
      <li><a href="/dspipeline">DS pipeline:</a></li>
      <li><a href="/dspipeline_code">Code (Supervised learning)</a></li>
      <li><a href="/clem_pipeline">Contact & Bio</a></li>

      
      <!-- <li><a href="#">Job & Price</a></li> -->
      </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>

    </ul>
  </div>
</nav>

<div class="overflow">
<img src='kopipi.jpg' alt="logo" height = 150px> <br>
</div>

  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
  </head>


<div style="padding-right:150px;">
  <body>
    <div class="container">
      <div class="header">
        <h2 class="text-muted">Code of the data science pipeline & Supervised learning</h2>
      </div>
      <hr/>
      <div>


"Everyone has the right freely to participate in the cultural life of the community, to enjoy the arts and to share in scientific advancement and its benefits." (Universal Declaration of Human Rights, Article 27). <br><br>

The data science pipeline has been performed by Joel Carlson, Real Limoges, Joe Warren and myself in the frame of a 16 hours case study at Galvanize (DSI). We chose to include everyone in all the steps of the process instead of strictly isolating one person to a given task. I have been leading the creation of the model, Joel its optimization, Real and Joe did an amazing job with both the back and front end. You can find all the codes used for the pipeline in this <a href="https://github.com/clemriedel/Web_ds4all/tree/master/dspipeline/dspipeline_code" target="blank">Github repo</a>.

<br><br>

The fraud dataset that we used is private, therefore I cannot present you the data for the modelisation we performed. No worries! I chose another dataset related with telecomunication and present you a data science supervised study (logistic regression, random forest, gradient boosting) that I have performed (based on the knowledge and skills I developed at Galavanize during the Data Science Immersive, April 2016). I wrote this notebook as a reference on how to perform a supervised data science study. You can look at it below, or download it with the data set here: <a href="https://github.com/clemriedel/Web_ds4all/tree/master/dspipeline" target="blank">ds4all supervised learning notebook.</a>

<br><br><br><br>

<center>
<embed src="http://nbviewer.jupyter.org/github/clemriedel/Web_ds4all/blob/master/dspipeline/DS_models_supervised.ipynb" width="1000" height="500">
</center>



</html>
 