<!DOCTYPE html>
<title>ds4all</title>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

  <style>
.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}

.overflow{
    overflow: hidden;
}

form {
    display: inline-block; //Or display: inline; 
}
</style>




<nav class="navbar navbar-default">


    <ul class="nav navbar-nav">


        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><font size="4" color="grey">ds4all</font><span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/">Home</a></li>
          <li><a href="/nlq">NLQ</a></li>
          <li><a href="/dspipeline">DS pipeline</a></li>
        </ul>

      
      <li><a href="/nlq">NLQ:</a></li>
      <li><a href="/tutorial">Tutorial</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/education">Education</a></li>
      <li><a href="/thanks">Thanks</a></li>
      <li><a href="/clem">Contact & Bio</a></li>
      
      <!-- <li><a href="#">Job & Price</a></li> -->
      </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>

    </ul>
  </div>
</nav>

<div class="overflow">
<img src='SFBanner.jpg' alt="logo" height = 150px> <br>
</div>

  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
  </head>

  <div style="padding-right:150px;">
  <body>
    <div class="container">
      <div class="header">
        <h2 class="text-muted">Projects</h2>
      </div>
      <hr/>
      <div>



  You can find here some examples of study, download the databases on your computer, use them directly to get results.



  <ul>




    <h4 class="text-muted">Chemistry</h4>
    NSF_Chem_2013.csv (1964 docs)
    <a href="/return/NSF_chem_2013/" target="blank"><button class='btn-md btn-default'>Download</button></a>    
    &nbsp; Run NLQ: <form action="/predict/NSF_chem_2013" method="post">
    <input name='NSF_chem_2013.csv' type="submit" />
    </form> <br><br>


    <h4 class="text-muted">Cosmology</h4>
    NSF_cosmology.csv (2219 docs)
    <a href="/return/NSF_cosmology/" target="blank"><button class='btn-md btn-default'>Download</button></a>    
    &nbsp; Run NLQ: <form action="/predict/NSF_cosmology" method="post">
    <input name='NSF_cosmology.csv' type="submit" />
    </form> <br><br>

    <h4 class="text-muted">Politics</h4>
    NSF_politics.csv (3000 docs)
    <a href="/return/NSF_politics/" target="blank"><button class='btn-md btn-default'>Download</button></a>    
    &nbsp; Run NLQ: <form action="/predict/NSF_politics" method="post">
    <input name='NSF_politics.csv' type="submit" />
    </form> <br><br>

    <h4 class="text-muted">Plasma</h4>
    NSF_plasma.csv (721 docs)
    <a href="/return/NSF_plasma/" target="blank"><button class='btn-md btn-default'>Download</button></a>    
    &nbsp; Run NLQ: <form action="/predict/NSF_plasma" method="post">
    <input name='NSF_plasma.csv' type="submit" />
    </form> <br><br>


    <h4 class="text-muted">Social etnology</h4>
    NSF_etno.csv (3000 docs)
    <a href="/return/NSF_etno/" target="blank"><button class='btn-md btn-default'>Download</button></a>    
    &nbsp; Run NLQ: <form action="/predict/NSF_etno" method="post">
    <input name='NSF_etno.csv' type="submit" />
    </form> <br><br>

    <h4 class="text-muted">Physics</h4>
    NSF_phy_2013.csv (1296 docs)
    <a href="/return/NSF_phy_2013/" target="blank"><button class='btn-md btn-default'>Download</button></a>    
    &nbsp; Run NLQ: <form action="/predict/NSF_phy_2013" method="post">
    <input name='NSF_phy_2013.csv' type="submit" />
    </form> <br><br>






  </ul>