<!DOCTYPE html>
<title>ds4all</title>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

  <style>
.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}

.overflow{
    overflow: hidden;
}
</style>




<nav class="navbar navbar-default">


    <ul class="nav navbar-nav">


        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><font size="4" color="grey">ds4all</font><span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/">Home</a></li>
          <li><a href="/nlq">NLQ</a></li>
          <li><a href="/dspipeline">DS pipeline</a></li>
        </ul>

      
      <li><a href="/nlq">NLQ:</a></li>
      <li><a href="/tutorial">Tutorial</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/education">Education</a></li>
      <li><a href="/thanks">Thanks</a></li>
      
      <!-- <li><a href="#">Job & Price</a></li> -->
      </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>

    </ul>
  </div>
</nav>

<div class="overflow">
<img src='SFBanner.jpg' alt="logo" height = 150px> <br>
</div>

  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
  </head>


<div style="padding-right:150px;">
  <body>
    <div class="container">
      <div class="header">
        <h2 class="text-muted">Tutorial</h2>
      </div>
      <hr/>
      <div>


The easiest to get started is to use some data from the <a href="/projects">'Projects'</a> folder: Give a look at one of the database, use it and get your first result. If you would like to perform your own study with documents from <a href="www.nsf.org" target="blank">www.nsf.org</a>: go on their website, make your own search, download the documents as .csv, run <a href="/return_clean_data/" target="blank">this scipt</a> to clean your data, upload the output and get your result.<br>

<br>If you would like to do something different and on your own: Congratulation! I have tried to make it as easy as possible: Just follow the steps:



  <ul>

      <h3>Step 1: Idea</h3>
      <p>You need an idea.</p>

      

      <h3>Step 2: Reality</h3>
      <p>You need a realistic idea: Can it be described by a number and understood by words?</p>



      <h3>Step 3: Action</h3>
      <p>You need to get these words and numbers: That's your job. (If you do have realistic idea, and and would like to know where to start -or what we can do for you- please contact us.</p>



      <h3>Step 4: Data</h3>
      <p>Your data should be in correct form. It needs to be in a .csv file with only two columns: your numbers and the texts describing your activity. <br><br>


        <b>First column: Numbers.</b> The first element of the first column is the unit (for instance M$, votes, likes, shares, millions of viewers). Units are important in science and you need one to perform NLQ. Finding your unit might be the first step of the process. Then, you put your numbers: only digit, no characters such as comma, dots for decimals are OK.<br/><br>


        <b>Second column: Texts.</b> The first element of the second column is the description of your texts (no comma in the title please). Then, the text come as it is (all characters welcome here). We do the cleaning for you, remove the html tags, perform the lightest stemming (by removing the "s" at the end of words), create a term document matrix, solve the posterior distribution using a Collapsed Gibbs Sampling, draw the per word topic assignment and per document topic proportion, quantify how much is generated by each topic and write you down a report summary. That's our job.</p>

        <div class="overflow">
        <img src = 'Data_Example.png' height=200>
        </div>

      <br/>
      <h3>Step 5: Run</h3>
      <p>If you made it here, once again: Congratulation! Go to the <a href="/">ds4all.io/nlq</a> main page, upload your .csv, run NLQ and get your results!</p> <br/><br>


  </ul>


</html>
 